<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <%- include('../partials/dependencies') %>
</head>

<body>
    <header>
        <%- include('../partials/admin-header') %>
    </header>
    <main class="main_container">
        <form action="#" method="POST" enctype="multipart/form-data" id="userExcelUploadForm"
            class="d-flex justify-content-center align-items-center">
            <p class="form-label">Select Only CSV File</p>
            <label class="input-group-text" for="UserExcelFile">Select User Data</label>
            <input type="file" class="form-control m-2" name="UserExcelFile" id="UserExcelFile" accept=".csv" required
                style="display: none;">
            <button type="submit" class="btn btn-primary m-2">Upload &nbsp; <i
                    class="bi bi-cloud-arrow-up"></i></button>
            <input type="button" value="Add New User" class="btn btn-outline-primary m-2" data-bs-toggle="modal"
                data-bs-target="#UserInputModel">
        </form>
        <div class="d-flex w-100">
            <table class="table table-hover m-2 AVRTable table-striped caption-top">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Sl.No</th>
                        <th scope="col">Employee ID</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Location</th>
                        <th scope="col">Role</th>
                        <th scope="col">No of Submission</th>
                        <th scope="col">Reporting Manager</th>
                        <!-- <th scope="col">Added By</th> -->
                        <th scope="col">Status</th>
                        <th scope="col">Last Seen</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="content-area">
                    <% if (Object.values(Data).length>0) { %>
                        <% for( let index=0; index < Object.values(Data).length; index++ ) { %>
                            <tr>
                                <td>
                                    <%= index+1%>
                                </td>
                                <td>
                                    <%= Data[index]["Employee_ID"] %>
                                </td>
                                <td>
                                    <%= Data[index]['Full_Name'] %>
                                </td>
                                <td>
                                    <%= Data[index]['Email_ID'] %>
                                </td>
                                <td>
                                    <%= Data[index]['Designation'] %>
                                </td>
                                <td>
                                    <%= Data[index]['Location'] %>
                                </td>
                                <td>
                                    <%= Data[index]['Role'] %>
                                </td>
                                <td>
                                    <%= Data[index]['No_of_Submission'] %>
                                </td>
                                <td>
                                    <%= Data[index]['Reporting_Manager_Name'] %>
                                </td>
                                <!-- <td>
                                    <%= Data[index]['Added_By'] %>
                                </td> -->
                                <td>
                                    <% if (Data[index]['Active']) { %>
                                        Active
                                        <% }else{ %>
                                            Inactive
                                            <% }%>
                                </td>
                                <td>
                                    <%= Data[index]['lastSeen'] %>
                                </td>
                                <td>
                                    <% if (Data[index]['Active']=='0' ) { %>
                                        <button type="button" class="btn btn-success btn-sm ms-2 me-2"
                                            onclick="updateStatusAPI('<%= Data[index]['Employee_ID'] %>','1')"><i
                                                class="bi bi-check-circle-fill"></i></button>
                                        <% }else{%> <button type="button" class="btn btn-danger btn-sm ms-2"
                                            onclick="updateStatusAPI('<%= Data[index]['Employee_ID'] %>','0')"><i
                                                class="bi bi-x-circle"></i></button>
                                           <% } %>

                                </td>

                            </tr>
                            <% } %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="11">
                                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                <symbol id="check-circle-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                </symbol>
                                                <symbol id="info-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                                </symbol>
                                                <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                                </symbol>
                                            </svg>
                                            <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center"
                                                role="alert">
                                                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                                                    <use xlink:href="#info-fill" />
                                                </svg>

                                                <strong>Sorry...!😕</strong> Data not found.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="text-center">

                                            <a href="/login" class="btn btn-outline-primary rounded-pill"><i
                                                    class="bi bi-arrow-left-circle-fill"></i> Go Back To Home</a>

                                        </td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </div>
    </main>
    <div class="modal fade" id="UserInputModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content ">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="staticBackdropLabel">Add New User
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/api/AddUser" method="post" id="addUserForm">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="empId" placeholder="key">
                            <label for="empId">Employee ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="empName" placeholder="key">
                            <label for="empName">Employee Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="empEmail" placeholder="key">
                            <label for="empEmail">Email ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="empDesignation" placeholder="key">
                            <label for="empDesignation">Designation</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="empLocation" placeholder="key">
                            <label for="empLocation">Location</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="empRole" placeholder="key">
                            <label for="empRole">Role</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="empReportingManager" placeholder="key">
                            <label for="empReportingManager">Reporting Manager</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="AddEmployeebtn">Add &nbsp;<i
                                class="bi bi-send-fill"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <%- include('../partials/dependencies-js') %>
        <script>

            document.getElementById('addUserForm').addEventListener("submit", async (e) => {
                e.preventDefault();
                await axios.post('/api/AddUser', {
                    params: {
                        "Employee_ID": document.getElementById("empId").value,
                        "Full_Name": document.getElementById("empName").value,
                        "Email_ID": document.getElementById("empEmail").value,
                        "Designation": document.getElementById("empDesignation").value,
                        "Location": document.getElementById("empLocation").value,
                        "Role": document.getElementById("empRole").value,
                        "Reporting_Manager_Name": document.getElementById("empReportingManager").value,
                    }
                }).then(res => {
                    if (res.status == 200) {
                        $("#UserInputModel").modal('hide')
                        alert(res.data);
                    }
                }).catch(e => {
                    $("#UserInputModel").modal('hide')
                    console.log(e);
                    alert(e.response.data);
                })
            })
            document.getElementById('userExcelUploadForm').addEventListener("submit", async (e) => {
                e.preventDefault();
                const fileInput = document.getElementById('UserExcelFile');
                const file = fileInput.files[0];
                let fromData = new FormData();
                fromData.append("UserExcelFile", file)
                await axios.post('/api/uploadUsers', fromData).then(res => {
                    if (res.status == 200) {
                        alert(res.data.message);
                        updateContentArea(res.data.Data);
                    }
                }).catch(e => {
                    alert(e.response.data);
                })
            })

            function updateStatusAPI(id, newStatus) {
                axios.post('/api/updateUserStatus', {
                    params: {
                        id: id,
                        status: newStatus
                    }
                }).then(res => {
                    if (res.status == 200) {
                        updateContentArea(res.data);
                    }
                })
                    .catch(e => {
                        console.log(e);
                        alert(e.message)
                        alert("Unable to Update the Status...\nPlease Contact Admin");
                    })
            }

            function updateContentArea(data) {
                if (data.length > 0) {
                    $('#content-area').empty();
                    const table = document.getElementById("content-area");
                    for (let i = 0; i < data.length; i++) {
                        table.innerHTML += `<tr>
                                    <td>${i + 1}</td>
                                    <td>${data[i]["Employee_ID"]}</td>
                                    <td>${data[i]["Full_Name"]}</td>
                                    <td>${data[i]["Email_ID"]}</td>
                                    <td>${data[i]["Designation"]}</td>
                                    <td>${data[i]["Location"]}</td>
                                    <td>${data[i]["Role"]}</td>
                                    <td>${data[i]["No_of_Submission"]}</td>
                                    <td>${data[i]["Reporting_Manager_Name"]}</td>
                                    <td>${data[i]["Active"] ? "Active" : "Inactive"}</td>
                                    <td>${data[i]["lastSeen"]}</td>
                                    <td>${data[i]['Active']=='0'?
                                        `<button type="button" class="btn btn-success btn-sm ms-2 me-2" onclick="updateStatusAPI('${data[i]['Employee_ID']}','1')"><i class="bi bi-check-circle-fill"></i></button></td>`:
                                        `<button type="button" class="btn btn-danger btn-sm ms-2" onclick="updateStatusAPI('${data[i]['Employee_ID']}','0')"> <i class="bi bi-x-circle"></i></button></td></tr>`}</tr>`
                    }
                }

            }
        </script>
</body>

</html>