<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Checklist
    </title>
    <%- include('../partials/dependencies') %>
</head>

<body>
    <header>
        <%- include('../partials/engineer-header',{title:title,IncludeBackButton:false}) %>
    </header>

    <main class="d-flex flex-column mb-3 justify-content-center w-100" style="position: absolute; top: 100px; align-self: baseline;">

        <section class="d-flex justify-content-center">
            <% if (Object.values(Data).length>0) { %>
                <% for( let index=0; index < Object.values(Data).length; index++ ) { %>
                    <a href="/Engineer/QC/<%= Data[index].Checklist_Name %>" style="text-decoration: none;">
                        <div class="localcard m-4 p-3 d-flex align-items-end" style='background: rgb(78,78,78);background: linear-gradient(180deg, rgba(78,78,78,0.0032387955182072714) 11%, rgba(2,0,36,0.7539390756302521) 100%),url("../../public/uploads/Checklist-Icon/<%= Data[index].Icon %>");  background-size: contain;                            background-position: center;                            background-repeat: no-repeat;'>

                                
                                <h3 style="color: #f1f1f1;text-shadow: 10px 0px 19px rgba(102, 102, 102, 1);">
                                    <%= Data[index].Checklist_Name %>
                                </h3>
     
                        </div>
                    </a>
                    <%}%>
                        <%}else{%>

                            <p>NO QC</p>
                            <%}%>
        </section>
        <section class="d-flex w-100 table-responsive-sm">
            <% if (Object.values(Log).length>0) { %>
                <table class="table table-hover m-2  table-striped caption-top">
                    <thead class="table-dark sticky-top">
                        <tr>
                            <th scope="col">Sl.No</th>
                            <th scope="col">Date/Time</th>
                            <th scope="col">Project</th>
                            <th scope="col">QC</th>
                            <th scope="col">CFAS/Job </th>
                            <th scope="col">State</th>
                            <th scope="col">City</th>
                            <th scope="col">QC-Type </th>
                            <th scope="col">Work Print No</th>
                            <th scope="col">Iteration</th>
                            <th scope="col">Score </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let index=0; index < Object.values(Log).length; index++ ) { %>

                            <tr>
                                <td>
                                    <%= index+1%>
                                </td>
                                <td>
                                    <%= Log[index]["Date"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Project"] %>
                                </td>
                                <td>
                                    <%= Log[index]["QC"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Job_ID"] %>
                                </td>
                                <td>
                                    <%= Log[index]["State"] %>
                                </td>
                                <td>
                                    <%= Log[index]["City"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Type"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Workprint_No"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Iteration"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Score"] %> %
                                </td>
                            </tr>

                            <% } %>
                    </tbody>
                </table>
                <% } %>
        </section>
    </main>
</body>

</html>