<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home
    </title>
    <%- include('../partials/dependencies') %>
</head>
<div class="loader" id="loader">
    <div class="cycles">
        <div id="cycle1" class="cycle"></div>
        <div id="cycle2" class="cycle"></div>
        <div id="cycle3" class="cycle"></div>
        <div id="cycle4" class="cycle"></div>
        <div id="cycle5" class="cycle"></div>
    </div>
    <div class="loadng-label">Loading Assets...</div>
</div>
<body>
    <header>
        <% if (Role=="Engineer" ) { %>
            <%- include('../partials/engineer-header',{title:title,IncludeBackButton:0}) %>
                <% }else if(Role=="Admin" ){ %>
                    <%- include('../partials/admin-header',{title:title}) %>
                        <% }else if(Role=="PMO"){ %>
                            <%- include('../partials/PMO-header',{title:title}) %>
                            <%}%>    </header>

    <main class="d-flex flex-column mb-3 justify-content-center w-100" style="position: absolute; top: 100px; align-self: baseline;">
        <section class="d-flex justify-content-end flex-wrap">
            <div class="profile-card d-flex flex-row">
                <div class="right-side">
                    <i class="bi bi-person-badge"></i>
                </div>
                <div class="left-side">
                    <figure>
                        <blockquote class="blockquote">
                            <p>
                                <%= User.Full_Name %> 
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            <%= User.Designation %> (<%= User.Employee_ID %>) <br>
                            <i class="bi bi-envelope-at-fill"></i> <%= User.Email_ID %><br>
                            <i class="bi bi-geo-alt-fill"></i><%= User.Location %>
                            <p>RM: <%= User.Reporting_Manager_Name %></p>

                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
        <section class="d-flex justify-content-center flex-wrap">
            <% if (Object.values(Data).length>0) { %>
                <% for( let index=0; index < Object.values(Data).length; index++ ) { %>
                    <a href="/<%=Role%>/Customers/<%= Data[index].Customer_Name %>">
                        <div class="localcard m-4 text-center">
                            <img src="../../public/uploads/Customer-Logo/<%= Data[index].Customer_Logo%>"
                                alt="Icon_<%= Data[index].Customer_Name %>" class="checklist-icon">
                        </div>
                    </a>
                    <%}%>
                        <%}else{%>
                            <p>NO QC</p>
                            <%}%>
        </section>
        <section class="d-flex w-100 table-responsive-sm">
            <% if (Object.values(Log).length>0) { %>
                <table class="table table-hover m-2  table-striped caption-top">
                    <thead class="table-dark sticky-top">
                        <tr>
                            <th scope="col">Sl.No</th>
                            <th scope="col">Date/Time</th>
                            <th scope="col">Project</th>
                            <th scope="col">QC</th>
                            <th scope="col">CFAS/Job </th>
                            <th scope="col">State</th>
                            <th scope="col">City</th>
                            <th scope="col">QC-Type </th>
                            <th scope="col">Work Print No</th>
                            <th scope="col">Iteration</th>
                            <th scope="col">Score </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let index=0; index < Object.values(Log).length; index++ ) { %>

                            <tr>
                                <td>
                                    <%= index+1%>
                                </td>
                                <td>
                                    <%= Log[index]["Date"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Project"] %>
                                </td>
                                <td>
                                    <%= Log[index]["QC"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Job_ID"] %>
                                </td>
                                <td>
                                    <%= Log[index]["State"] %>
                                </td>
                                <td>
                                    <%= Log[index]["City"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Type"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Workprint_No"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Iteration"] %>
                                </td>
                                <td>
                                    <%= Log[index]["Score"] %> %
                                </td>
                            </tr>

                            <% } %>
                    </tbody>
                </table>
                <% } %>
        </section>
    </main>
</body>

</html>