<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Admin Home
    </title>
    <%- include('../partials/dependencies') %>
</head>
<div class="loader" id="loader">
    <div class="cycles">
        <div id="cycle1" class="cycle"></div>
        <div id="cycle2" class="cycle"></div>
        <div id="cycle3" class="cycle"></div>
        <div id="cycle4" class="cycle"></div>
        <div id="cycle5" class="cycle"></div>
    </div>
    <div class="loadng-label">Loading Assets...</div>
</div>
<body>
    <header>

        <%- include('../partials/root-header',{title:title}) %>

    </header>

    <main class="d-flex flex-column mb-3 justify-content-center w-100"
        style="position: absolute; top: 100px; align-self: baseline;">
        <section class="d-flex justify-content-between flex-wrap">
            <div style="height: 200px; width: 200px;">
                <canvas id="UserChart" ></canvas>
            </div>
            <div class="profile-card d-flex flex-row " style="height: 110px;">
                <div class="right-side">
                    <i class="bi bi-person-badge"></i>
                </div>
                <div class="left-side" >
                    <figure>
                        <blockquote class="blockquote" style="font-size: 14px;">
                            <p>
                                <%= User.Full_Name %>
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer" style="font-size: 12px;">
                            <%= User.Designation %> (<%= User.Employee_ID %>) <br>
                                    <i class="bi bi-envelope-at-fill"></i>
                                    <%= User.Email_ID %><br>
                                        <i class="bi bi-geo-alt-fill"></i>
                                        <%= User.Location %>
                                            <p>RM: <%= User.Reporting_Manager_Name %>
                                            </p>

                        </figcaption>
                    </figure>
                </div>
            </div>

        </section>
    </main>
</body>
<%- include('../partials/dependencies-js') %>
    <script>
        const ctx = document.getElementById('UserChart');
        const xValues = ['Active Users','In-Active Users']
        const yValues = ['<%= UserCount.active_user %>','<%-UserCount.inactive_users %>'];
        console.log(xValues, yValues)
        const barColors = [
            "#2b5797",
            "#e8c3b9",
            "#1e7145"
        ];
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: xValues,
                datasets: [{
                    label: 'User Count',
                    data: yValues,
                    background: barColors
                }]
            },
            options: {
                responsive:true,
                title: {
                    display: true,
                    text: "User Counts"
                }
            }
        });
    </script>

</html>